<link rel="import" href="../../../bower_components/polymer/polymer.html">

<dom-module id="pa-profile-picture">
  <template>
    <style include="shared-styles"></style>
    <style>
      .userpic {
        border: 1px solid #A0C3FF;
        width: 202px;
        height: 202px;
        position: relative;
        box-sizing: border-box;
      }
      .userpic > div {
        width: 200px;
        height: 200px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      img {
        max-width: 100%;
        max-height: 100%;
      }
      span {
        display: none;
        width: 202px;
        background: rgba(0,0,0,.7);
        transition: all .2s ease-in-out;
        color: #fff;
        text-decoration: none;
        position: absolute;
        bottom: -1px;
        left: -1px;
        line-height: 32px;
        text-align: center;
        font-size: 13px;
        cursor: pointer;
      }
      input {
        display: none;
      }
      paper-icon-button {
        display: none;
        position: absolute;
        top: -8px;
        right: -8px;
        --iron-icon-height: 24px;
        --iron-icon-width: 24px;
      }
      .userpic:hover span, .userpic:hover paper-icon-button{
        display: block;
      }
    </style>

    <div class="userpic">
      <div>
        <img src="{{ src }}" on-click="uploadPicture">
      </div>
      <paper-icon-button icon="clear" on-click="removePicture"></paper-icon-button> <!-- todo: show only when there is a picture -->
      <span on-click="uploadPicture">Change Profile Picture</span>
      <input type="file" >
    </div>

  </template>

  <script>
    (function() {
      'use strict';

      Polymer({
        is: 'pa-profile-picture',

        properties: {
          src: {
            type: String,
            value: "../../images/no-photo.jpg"
          }
        },

        uploadPicture: function() {
        },

        removePicture: function() {
        }
      });
    })();
  </script>

</dom-module>